/*
body{
    background-image: url(https://www.publicdomainpictures.net/pictures/380000/velka/digitalisierung-201102.jpg);
}
*/

header{
    width: 100%;
}

h1,h2,h3{
    text-align: center;
}

address{
    text-align: center;
}

#mifoto{
    width: 140px;
}
@media only screen and (min-width:576px){
    #mifoto{
        width: 25%;
    }
}

.nav-item{
    margin: 0.5%;
}

@media only screen and (min-width:750px){
    #primerpara{
        max-width: 726px;
    }
}

.miitem{
    text-align: end;
}

.backtotop{
    text-align: end;
}

td{
    word-wrap:break-word;
}