header{
    width: 100%;
}

h1,h2,h3{
    text-align: center;
}

address{
    text-align: center;
}

#mifoto{
    width: 80%;
}

#primerpara{
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width:576px){
    #mifoto{
        max-width: 60%;
    }
}

@media only screen and (min-width:750px){
    #primerpara{
        max-width: 726px;
    }
}

.list-group{
    text-align: center;
}

.backtotop{
    display: block;
    text-align: center;
}

caption{
    caption-side: top;
}