header{
    width: 100%;
}

h1,h2,h3{
    text-align: center;
}

address{
    text-align: center;
}

#mifoto{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.list-group{
    text-align: center;
}

.backtotop{
    display: block;
    text-align: center;
}

caption{
    caption-side: top;
}