*{
    box-sizing: border-box;
}

.redbold{
    color:red;
    font-weight:bold;
}

body{
        background-color:rgb(0,255,0);
    }

h1{
    font-size: 50px;
    border: 1px solid black;
    padding-top: 5px;
    margin: 5px 20px 30px 20px;
}
/*
Esto es un comentario en css
*/
p{
    color:blue;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

#para1{
    text-align: center;
}

h2,h3{
    color: blueviolet;
}

section{
    width: 300px;
    border: 2px solid green;
    padding: 10px;
    margin: 20px 10px 10px 5px;
}